<section class="contact">

  <!-- HEADER -->
  <div class="header">
    <h1>Contact Me</h1>
    <p>Feel free to reach out anytime</p>
  </div>

  <!-- INFO -->
  <div class="info">

    <div class="row">
      <mat-icon>phone</mat-icon>
      <span>09137497862</span>
    </div>

    <div class="row">
      <mat-icon>email</mat-icon>
      <span>sparsabanimahd@gmail.com</span>
    </div>

    <div class="row">
      <mat-icon>location_on</mat-icon>
      <span>Iran, Yazd, Sadoughi School Area</span>
    </div>

    <div class="row">
      <mat-icon>public</mat-icon>
      <span>yourwebsite.com</span>
    </div>

  </div>

  <!-- SOCIAL -->
  <div class="social">

    <a href="" class="icon telegram">
      <mat-icon>send</mat-icon>
    </a>

    <a href="" class="icon instagram">
      <mat-icon>photo_camera</mat-icon>
    </a>

    <!-- GitHub REAL ICON -->
    <a href="" class="icon github">
      <svg viewBox="0 0 24 24" class="github-icon">
        <path fill="currentColor"
              d="M12 .5C5.7.5.7 5.7.7 12.2c0 5.2 3.4 9.6 8.1 11.1.6.1.8-.3.8-.6v-2.1c-3.3.7-4-1.4-4-1.4-.5-1.3-1.3-1.7-1.3-1.7-1.1-.8.1-.8.1-.8 1.2.1 1.8 1.3 1.8 1.3 1.1 2 2.9 1.4 3.6 1.1.1-.8.4-1.4.8-1.7-2.6-.3-5.3-1.4-5.3-6.1 0-1.4.5-2.5 1.3-3.4-.1-.3-.6-1.6.1-3.3 0 0 1.1-.3 3.5 1.3 1-.3 2-.4 3-.4s2 .1 3 .4c2.4-1.6 3.5-1.3 3.5-1.3.7 1.7.3 3 .1 3.3.8.9 1.3 2 1.3 3.4 0 4.7-2.7 5.8-5.3 6.1.5.4.9 1.2.9 2.4v3.5c0 .3.2.7.8.6 4.7-1.5 8.1-5.9 8.1-11.1C23.3 5.7 18.3.5 12 .5z"/>
      </svg>
    </a>

    <a href="mailto:" class="icon email">
      <mat-icon>email</mat-icon>
    </a>

  </div>

</section>
