<footer class="footer">

  <!-- LEFT -->
  <div class="footer-left">
    <div class="name">Parsa banimahd</div>
    <div class="role">Frontend Developer • Musician • Student</div>
  </div>

  <!-- SOCIAL -->
  <div class="footer-social">

    <a href="tel:09137497862" aria-label="call">
      <span class="material-icons icon">call</span>
    </a>

    <a href="mailto:sparsabanimahd@gmail.com" aria-label="email">
      <span class="material-icons icon">email</span>
    </a>

    <a href="https://www.instagram.com/parsa_banimahd" target="_blank" aria-label="instagram">
      <span class="material-icons icon">photo_camera</span>
    </a>

    <a href="https://t.me/pbanimahd" target="_blank" aria-label="telegram">
      <span class="material-icons icon">send</span>
    </a>

  </div>

  <!-- RIGHT -->
  <div class="footer-right">
    © 2026 All rights reserved
  </div>

</footer>
