<section class="hero-wrapper">

  <mat-card class="hero-card">

    <mat-card-content>

      <div class="hero-top">
<!--        <div class="accent-line"></div>-->
        <h2>What I do</h2>
      </div>

      <p class="lead">
        I work on <span class="highlight">frontend development</span> with Angular
        and also create <span class="highlight">cinematic & orchestral music</span>.
      </p>

      <p>
        I’ve built projects in both programming and music, combining creativity with technology.
      </p>

      <a mat-raised-button color="primary" class="cta-btn" routerLink="/projects">
        View My Projects
      </a>

    </mat-card-content>

  </mat-card>

</section>
