<section class="projects">

  <!-- HEADER -->
  <div class="header">
    <h1>My Projects</h1>
<!--    <p>Development & Music compositions</p>-->
  </div>

  <!-- =========================
       DEVELOPMENT
  ========================== -->

  <h2 class="section-title">Development</h2>

  <div class="grid">

    <mat-card class="project-card">
      <mat-card-header>
        <mat-card-title>Portfolio Website</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Modern Angular portfolio with responsive design.</p>

        <div class="tags">
          <span>Angular</span>
          <span>Frontend</span>
        </div>

        <a class="link" href="#">GitHub Link</a>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-header>
        <mat-card-title>Math-challenge</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>A Math-challenge developed by small basic for Kharazmi contest.</p>

        <div class="tags">
          <span>small-basic</span>
          <span>game</span>
        </div>

        <a class="link" href="#">GitHub Link</a>
      </mat-card-content>
    </mat-card>

  </div>
  <!-- =========================
       MUSIC
  ========================= -->

  <h2 class="section-title">Music</h2>

  <div class="grid">

    <mat-card class="project-card">

      <mat-card-header>
        <mat-card-title>Chasing a dream</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>orchestral composition (Cubase).</p>

        <div class="tags">
          <span>Orchestral</span>
          <span>Cinematic</span>
        </div>

        <a class="link" href="https://www.bandlab.com/post/3936725f-8104-4ed6-98b0-de7887b33254" target="_blank">BandLab Link</a>
      </mat-card-content>

    </mat-card>

    <mat-card class="project-card">

      <mat-card-header>
        <mat-card-title>Passion</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Minimal emotional piano study piece.</p>

        <div class="tags">
          <span>Piano</span>
          <span>POP</span>
        </div>

        <a class="link" href="https://www.bandlab.com/post/2dfa75b5-88ae-ef11-88cd-6045bd345b20" target="_blank">BandLab Link</a>
      </mat-card-content>

    </mat-card>

    <mat-card class="project-card">

      <mat-card-header>
        <mat-card-title>Requiem</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Dark cinematic orchestral theme.</p>

        <div class="tags">
          <span>Orchestral</span>
          <span>Dark</span>
        </div>

        <a class="link" href="https://www.bandlab.com/post/536b748c-abd3-4d45-ab5c-e8b7dadddc66">BandLab Link</a>
      </mat-card-content>

    </mat-card>

    <mat-card class="project-card">

      <mat-card-header>
        <mat-card-title>Whisper of winter</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Minimal piano piece for the game(loop).</p>

        <div class="tags">
          <span>Piano</span>
          <span>Minimal</span>
        </div>

        <a class="link" href="https://www.bandlab.com/post/e6474ce7-a584-4460-baf9-5cc9b0446795" target="_blank">BandLab Link</a>
      </mat-card-content>

    </mat-card>

  </div>
