.skills{

  min-height: 100vh;

  padding: 100px 10%;

  background: #0f172a;

  color: white;
}

/* Title */

h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle{
  color: #94a3b8;
  margin-bottom: 50px;
}

/* GRID */

.grid{

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

/* ITEM */

.item{

  background: #1e293b;

  padding: 25px;

  border-radius: 18px;

  text-align: center;

  cursor: pointer;

  transition: 0.3s;

  border: 1px solid transparent;
}

/* hover effect */

.item:hover{

  transform: translateY(-8px);

  border-color: #38bdf8;

  box-shadow: 0 10px 30px rgba(56,189,248,0.15);
}

/* icon */

mat-icon{

  font-size: 36px;

  width: 36px;
  height: 36px;

  color: #38bdf8;

  margin-bottom: 10px;
}

/* text */

.item span{
  display: block;
  margin-top: 5px;
  color: #cbd5e1;
  font-weight: 500;
}

/* RESPONSIVE */

@media (max-width: 1000px){

  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px){

  .grid{
    grid-template-columns: 1fr;
  }

  h2, .subtitle{
    text-align: center;
  }
}
