<section class="skills">

  <h2>Skills & Expertise</h2>

  <p class="subtitle">
    Technologies I use to build modern web applications.
  </p>

  <div class="grid">

    <div class="item">
      <mat-icon>code</mat-icon>
      <span>Angular</span>
    </div>

    <div class="item">
      <mat-icon>data_object</mat-icon>
      <span>TypeScript</span>
    </div>

    <div class="item">
      <mat-icon>design_services</mat-icon>
      <span>UI Design</span>
    </div>

    <div class="item">
      <mat-icon>html</mat-icon>
      <span>HTML</span>
    </div>

    <div class="item">
      <mat-icon>css</mat-icon>
      <span>CSS</span>
    </div>

    <div class="item">
      <mat-icon>memory</mat-icon>
      <span>RxJS</span>
    </div>

    <div class="item">
      <mat-icon>layers</mat-icon>
      <span>Material UI</span>
    </div>

    <div class="item">
      <mat-icon>terminal</mat-icon>
      <span>JavaScript</span>
    </div>

  </div>

</section>
